/ConfetiJava/nbproject/private/
/InterfacesConfetti/nbproject/private/
/ServerConfetti/nbproject/private/
/ClienteConfetti/nbproject/private/
/InterfacesConfetti/build/
/ClienteConfetti/build/
/ServerConfetti/build/
/InterfacesConfetti/dist/